@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Inconsolata:wght@200&family=League+Spartan:wght@200;400&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Inconsolata:wght@200&family=League+Spartan:wght@200;400&family=Montserrat:wght@700&family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    position: relative;
}

.font-light {
    font-family: 'Inconsolata', monospace;
}

.css-79wznc-MuiButtonBase-root-MuiTab-root.Mui-selected {
    background-color: #010101;
    color: white !important;
    border-bottom: 0 !important;
    
}

html a {
    color: #010101;
    text-decoration: none !important;
}

body {
    text-decoration: none !important;
}

.oop {
    transition: 0.3s;
    opacity: 1;
}

.oop-0 {
    transition: 0.3s;
    opacity: 0;
}

.lineee {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: black;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    background-color: black;
}


.d-1 {
    top: 5%;
}

.d-2 {
    top: 30%;
}

.d-3 {
    top: 55%;
}

.d-4 {
    top: 80%;
}

.active-cart {
    transform: translateX(0);
    opacity: 1;
    display: block;
    transition: 0.5s ease-out;
}

.de-active-cart {
    display: none;
    transform: translateX(500px);
    opacity: 0;
    transition: 0.5s ease-out;
}

@media screen and (max-width:'900px') {
    .lineee {
        display: none;
    }

    .dot {
        display: none;
    }

}

.font-bold {
    font-family: 'Oswald', sans-serif;
}

.active {
    text-decoration: underline !important;
}

.teextar {

    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    overflow-x: hidden;
    height: 140px;
    outline: 0;
}

.teextar::placeholder {

    transform: translateY(10px) translateX(10px);
}

.nav-box {
    display: none;
}

.pages:hover {
    .nav-box {
        display: block;
    }
}